@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Geist Sans", system-ui, sans-serif;
  --font-mono: "Geist Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020a1c;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff6e4;
    --foreground: #482B12;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}